<div id="overlay">
    <div id="dialog">
        <div id="dialog-header">
            <p>DIALOG HEADER</p>
            <div id="close-dialog" onclick="hideDialog()">
                <img src="/img/X.png"></img>
            </div>
        </div>
        <div id="dialog-content">
            <p>Test</p>
        </div>
    </div>
</div>
