<div id="overlay">
    <div id="dialog">
        <div id="dialog-header">
            <p>DIALOG HEADER</p>
        </div>
        <div id="dialog-content">
            <p>Test</p>
        </div>
    </div>
</div>
