<!DOCTYPE html>
<html lang="en" charset="utf-8">
    <script>
        if(performance.navigation.type == 2) {
            location.reload(true);
        }
    </script>
    <head>
        <%- include('partials/head', {title: 'Join Game | Red/Blue Game'}); %>
    </head>
    <body>
        <div id="header">
            <h1>Red & Blue GAME</h1>
        </div>
        <div id="content">
            <% if(error != null) { %>
                <p class="error"><%= error %></p>
            <% } %>
            <div class="heading-container">
                <h2>JOIN GAME</h2>
            </div>
            <form action="/room" method="POST">
                <input id="team1" type="radio" name="team" value="team1" checked>
                <label for="team1">Team A</label>
                <br>
                <input id="team2" type="radio" name="team" value="team2">
                <label for="team2">Team B</label>
                <br>
                <input id="fac" type="radio" name="team" value="fac">
                <label for="fac">Facilitate</label>
                <br>
                <input id="obs" type="radio" name="team" value="obs">
                <label for="obs">Observe</label>
                <br>
                <input id="roomname" class="text-input" type="text" name="roomname" placeholder="Enter Room Name" required>
                <br><br>
                <input class="button" type="submit" value="Enter">
            </form>
        </div>
    </body>
</html>