<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head', {title: room + ' | Red/Blue Game'}); %>
    </head>
    <body>
        <div id="header">
            <h1>Red & Blue GAME</h1>
        </div>
        <div id="content">
            <div class="heading-container">
                <h2 id="room-text"></h2>
            </div>
            <p>
                Team 1: <span id="team1-status">Not connected</span><br>
                Team 2: <span id="team2-status">Not connected</span>
            </p>
            <table id="table" class="table"></table>
            <a href="./">
                <div class="button anchor-button">Back</div>
            </a>
        </div>
        <%- include('partials/dialog') %>
    </body>
    <script src="/table.js"></script>
    <script src="/dialog.js"></script>
    <script src="/game.js"></script>
</html>
